
/*Global settings*/


.dash-dropdown
{
    display: inline;
    float: left;
}

.submit-btn
{
    max-width: 10em;
    border: none;
    background-color: #5bc0de;
    padding: 0.5em 0.75em;
    color: black;
    border-radius: 0.5em;
    transition: all .2s ease-in-out;
    font-weight: bold;
}

.submit-btn:hover
{
    transform: scale(1.1);
}

/*Nav bar*/

.nav-link:hover
{
    transform: scale(1.25);
}

/*Inventory site*/


.inv-dd
{
    min-width: 10em;
    max-width: 50em;
    margin-top: 1em;
}

.inv-dd .Select-input
{
    max-width: 50em;
}

.inv-dd .Select-control, .inv-dd .Select-menu-outer
{
    background-color: #272b30;
    color: white;
}


.row-item, .row-input
{
    float: left;
    margin: 1em;
}

.row-input
{
    max-width: 10em;
}

#add_to_inventory, #inv_item_overview
{
    width: 90em;
    padding: 1em;
    padding-left: 3em;
    display:inline-block;
    margin: 1em;
}


#inv_item_list
{
    width: 75em;
    margin-left: 10em;
}

#inv_item_list col
{
    width: 33%;
    max-width: 33%;
}

#inv_item_list tr {
    border-bottom: 1px solid #ddd;
  }

.row-hover:hover
{
    background-color: #5bc0de;
    color: black;
}

#inv_item_list td, #inv_item_list th
{
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em 0em;
    border-radius: 1em;
}

/*Meals page*/

#add_meal_div
{
    width: 90em;
    padding: 2em 1em;
    margin: 1em;
    margin-left: 5em;
    background-color: #43474d;
    border-radius: 1em;
}

.grid 
{
    text-align: center;
    font-weight: bold;
}

.grid-input
{
    min-width: 7em;
    width: auto;
    max-width: 15em;
    margin: 1em auto;
    padding: auto;
    font-weight: normal;
}



